@charset "utf-8";

body {
	background-color: rgb(0, 0, 0);
}

div{
	margin-right: 10px;
	margin-bottom: 10px;
}

#YellowRed{
	height: 150px;
	width: 0px;
	border-left: 75px solid rgb(255, 0, 0);
	border-right: 75px solid rgb(255, 255, 0);
	float: left;
}

#GreenBlue{
	height: 0px;
	width: 150px;
	border-top: 75px solid rgb(0, 255, 0);
	border-bottom: 75px solid rgb(0, 255, 255);
	float: left;
}

#Purple{
	height: 50px;
	width: 50px;
	border: 50px solid rgb(150, 0, 150);
	background-color: rgb(255, 0, 255);
	float: left;
}

#Grey{
	height: 150px;
	width: 50px;
	border-left: 50px solid rgb(200, 200, 200);
	border-right: 50px solid rgb(100, 100, 100);
	background-color: rgb(255, 255, 255);
	float: left;
}