@charset "utf-8";

div{
	margin-left: 50px;
	width: 200px;
	height: 200px;
	left: 0px;
	top: 200px;
	background-color: rgb(50, 50, 100);
	position: absolute;
	-webkit-transition: transform 5s linear, left 5s linear;
}

#RotationBox:hover{
	transform: rotate(360deg);
	left: 1000px;
}